A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [11]:
# Defining a tuple
my_tuple = (1,2,3,4,5)
print(my_tuple)

# Creating tuple without using parentheses: Tuple packing
my_tuple = 1, 2, 3, 4, 5
print(my_tuple)

# Tuple unpackaging
a, b, c, d, e = my_tuple
print(a)
print(b)
print(c)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
1
2
3

A tuple can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [3]:
# Creating empty tuple
t = ()
print(t)

# Tuple with mixed datatypes
my_tuple = (1, 2, 3, 4, 5, 28.3, 'abc')
print(my_tuple)

# Nested tuple
nested_tuple = (1, 2, 3, 4, 5, ['abc', 'def', 24.55, 7], (9, 10, 11))
print(nested_tuple)

()
(1, 2, 3, 4, 5, 28.3, 'abc')
(1, 2, 3, 4, 5, ['abc', 'def', 24.55, 7], (9, 10, 11))

To write a tuple containing a single value you have to include a comma, even though there is only one value −

In [18]:
t = "hello",
print(t)
print(type(t))

t = ("hello",)
print(t)
print(type(t))

t = "hello"
print(t)
print(type(t))

t = ("hello")
print(t)
print(type(t))

('hello',)
<class 'tuple'>
('hello',)
<class 'tuple'>
hello
<class 'str'>
hello
<class 'str'>

There are various ways in which we can access the elements of a tuple.
Indexing: We can use the index operator [] to access an item in a tuple, where the index starts from 0.

In [23]:
my_tuple = (1, 2, 3, 4, 5,28.3,'abc', ['math','physics',90.5,100], ('chemistry','computers',70.9,80))
print(my_tuple)

# first entry
print(my_tuple[0])

#fourth entry
print(my_tuple[3])

#sixth entry
print(my_tuple[5])

#eighth entry
print(my_tuple[7])

#first item in eighth entry
print(my_tuple[7][0])

#last entry
print(my_tuple[8])

#last item in last entry
print(my_tuple[8][3])

(1, 2, 3, 4, 5, 28.3, 'abc', ['math', 'physics', 90.5, 100], ('chemistry', 'computers', 70.9, 80))
1
4
28.3
['math', 'physics', 90.5, 100]
math
('chemistry', 'computers', 70.9, 80)
80

Negative Indexing: Python allows negative indexing for its sequences.The index of -1 refers to the last item, -2 to the second last item and so on.

In [30]:
# last entry
print(my_tuple[-1])

#last item in last entry
print(my_tuple[-1][-1])

#fourth entry
print(my_tuple[-2])

#last item in eighth entry
print(my_tuple[-2][-1])

#fifth entry
print(my_tuple[-4])

#fourth entry
print(my_tuple[-5])

#fourth entry
print(my_tuple[-6])

('chemistry', 'computers', 70.9, 80)
80
['math', 'physics', 90.5, 100]
100
28.3
5
4

Slicing: We can access a range of items in a tuple by using the slicing operator colon :.

In [44]:
my_tuple = ('p', 'y', 't', 'h', 'o', 'n', 't', 'u', 'p', 'l','e')

# elements from index 2 to index 4
print(my_tuple[2:5])

# elements from index 5 to end
print(my_tuple[5:])

# elements from index 0 to 10 by taking 2 jumps
print(my_tuple[0:10:2])

# elements beginning to end
print(my_tuple[:])

('t', 'h', 'o')
('n', 't', 'u', 'p', 'l', 'e')
('p', 't', 'o', 't', 'p')
('p', 'y', 't', 'h', 'o', 'n', 't', 'u', 'p', 'l', 'e')

In [45]:
# elements from index 0 to 6
print(my_tuple[-7:-1])

# elements from index 0 to 6 by taking 2 jumps
print(my_tuple[-7:-1:2])

# reversing the list
print(my_tuple[::-1])

#printing empty list
print(my_tuple[0:7:-1])

('o', 'n', 't', 'u', 'p', 'l')
('o', 't', 'p')
('e', 'l', 'p', 'u', 't', 'n', 'o', 'h', 't', 'y', 'p')
()

In [48]:
# values in tuple can't be changes
my_tuple = ('p', 'y', 't', 'h', 'o', 'n', 't', 'u', 'p', 'l','e',[1,2,3])
my_tuple[0] = 'xyz'
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [50]:
my_tuple = ('p', 'y', 't', 'h', 'o', 'n', 't', 'u', 'p', 'l','e',(1,2,3))
my_tuple[11][0]= 100
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [49]:
# item of list element in a tuple can be changed
my_tuple = ('p', 'y', 't', 'h', 'o', 'n', 't', 'u', 'p', 'l','e',[1,2,3])
my_tuple[11][0]= 100
print(my_tuple)

('p', 'y', 't', 'h', 'o', 'n', 't', 'u', 'p', 'l', 'e', [100, 2, 3])

We can use + operator to combine two tuples. This is called concatenation. We can also repeat the elements in a tuple for a given number of times using the * operator. Both + and * operations result in a new tuple.

In [51]:
# Concatenation
print((1, 2, 3) + (4, 5, 6) + (8, 9, 10))

# Repeat
print(("python",) * 5)

(1, 2, 3, 4, 5, 6, 8, 9, 10)
('python', 'python', 'python', 'python', 'python')

Tuple Methods: Methods that add items or remove items are not available with tuple. Only the following two methods are available.
- count(): Returns the number of times a specified value occurs in a tuple. tuple.count(elem)
- index(): Searches the tuple for a specified value and returns the position of where it was found. tuple.index(elem)

In [55]:
my_tuple = ('p', 'y', 't', 'h', 'o', 'n', 't', 'u', 'p', 'l','e')
print(my_tuple.count('t'))
print(my_tuple.index('o'))

2
4

Tuple Functions: Python includes the following tuple functions −
- len(): Gives the total length of the tuple. len(tuple)
- max(): Returns item from the tuple with max value. max(tuple)
- min(): Returns item from the tuple with min value. min(tuple)
- tuple(): Converts a list into tuple. tuple(seq)

In [61]:
my_tuple = ('p', 'y', 't', 'h', 'o', 'n', 't', 'u', 'p', 'l','e')

print(len(my_tuple))
print(max(my_tuple))
print(min(my_tuple))
print(tuple([1,2,3,4,5]))

11
y
e
(1, 2, 3, 4, 5)